---
layout: default
title: Office Life style
description: Who we are, and what makes us boogey.
---

<section id="blog-intro" class="tp--section-dark text-center">
	    <div class="header-overlay header-overlay50 text-white p-top-md-80">
    <div class="sub-header">
 <div class="container">
  <a href="/"><h1 class="blog-title blog-title--small">&gt;Elektro_byte</h1></a>
  <span class="blog-description--small e-small-1">: a collection of facts, tidbits, and musings <span class="blog-description--small-addition">about our world and our industry by the wonderful people of Everpay</span></span>
</div>
 </div>
        </div>
              </section>

<section class="row-fluid">
<div class="container aos-init aos-animate" data-aos="fade-up" data-aos-duration="750">
<div class="row">
<div class="grid">

<div class="row-fluid">
    <div class="col-sm-12">
      <section class="blog-title-section">
        <div class="blog-title-container">
          <h1 class="marquee--category__title--office-culture">Everpay Culture_</h1>
            <p class="blog-description"></p>
        </div>
        <div class="blog-search-container">  
            <p class="blog-description"></p>
        </div>
      </section>
    </div>
  </div>
  
  <div class="container">    
   
 <div class="row">
{% for post in site.posts | group_by_exp:"tags","tags.payments_space | truncate: 6, \"\""  %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    <article class="post margin-bottom--medium" data-file="{{ post.url | prepend: site.baseurl }}" data-target="article" itemscope itemtype="http://schema.org/BlogPosting">
 <a href="{{ post.url | prepend: site.baseurl }}" class="post-list__container">
        <div class="post-list__image-container">
          <div class="post-list__image" style="background-image: url({% if post.image %}{{ post.image }}{% else %}{{site.generic_image}}{% endif %});"></div>
          <div class="post-list__link e-small e-600 e-uppercase"><span class="post-list__reading-time">
            <span class="js-post-list__reading-time">3 minute</span> read</span></div>
        </div>
        <article class="post-list__article tag-red">
       <div class="post-list__date e-small">posted on <small class="timestyle">
  <time datetime="{{ post.date | date: "%b %-d, %Y" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
</small>
</div>
          <h3 class="post-list__title e-600">{{ post.title }}</h3>
          <div class="post-list__excerpt e-small-1 p-bottom-md-40">{{ post.content | strip_html | truncatewords:35}}</div>
        </article>
            
           </a>  
    </article>
         </div>        
       {% endfor %}
    </div>
    </div>
  
<div class="divider--dotted"></div>
      </div>
      </div>
       
    </div>
</section>
