<header class="tp--header tp--header-fixed tp--header-shrink tp--header-1 shrink">

      <a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>

      <nav class="navbar-wrapper">

        <div class="container clearfix">

          <!-- LOGO
          ================================================== -->

              <h1 class="logo">
            <a href="/">
               <img src="https://cdn.everpayinc.com/assets/img/logo.png" class="logo-main" width="140" alt="Everpay Logo" title="Everpay - Card processing, e-commerce, and payouts in one simple API">
              <img src="https://cdn.everpayinc.com/assets/img/logo.png" class="logo-dark" width="140" alt="Everpay Logo" title="Everpay - Card processing, E-commerce, and payouts in one simple API">
            </a>
          </h1>



          <!-- NAVIGATION
          ================================================== -->

          <div class="navbar tp--nav-dropdown pull-right">

            <div class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
            
                <li class="" data-content="">
                  <a href="javascript:void(0);"></a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="tp--scroll"></a>
                </li>
               
                {% for page in site.pages %}
          {% if page.title %}
          <li> <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> </li>
          {% endif %}
        {% endfor %}
               
              
                 <li class="links" data-content="">
                  <a href="javascript:void(0);"></a>
                </li>

               <li class="links" data-content="">
                     <a href="javascript:void(0);"><b></b></a>
                </li>

                <li class="tp--nav-divider"><a></a></li>
            
                <li>
                      </li>
                <li class="tp--nav-signup">
                  <a class="" href="//everpayinc.com"><span class="btn-custom btn-sm btn-primary btn--bordered">Back To Everpay</span></a>
                </li>
             
              </ul>
            </div>

          </div>

          <!-- Dropdown Wrapper -->
          <div class="morph-dropdown-wrapper">
            <div class="morph-dropdown-container">
              <div class="dropdown-list text-center" style="transform: translateX(84px); width: 580px; height: 383px;">
                <ul>

                  <li class="links">
                    <a href="/products" class="tp--nav-label tp--scroll">What we do</a>
                  </li>
                  
                  <li class="links">
                    <a href="https://everpayinc.com/www/#featured1" class="tp--nav-label tp--scroll">Features</a>
                  </li>

                  <li class="links">
                    <a href="https://everpayinc.com/www/pricing" class="tp--nav-label">Pricing</a>
                  </li>

      <li id="services" class="dropdown links">
                    <a href="javascript:void(0);" class="tp--nav-label" data-event="meganav-clicked" data-ga-click="MegaNav click meganav-product">What We Do</a> 
<div class="content" style="width:580px;"> 
<ul class="navigation__sub row">
<li class="navigation__productnav col-md-3">
 <ul class="navigation__productlist">
               <li class="navigation__producttitle">
                          <strong>MAXIMIZE REVENUE</strong>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/card-processing">Card Processing</a>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/check-processing">ACH/E-Check </a>
                        </li>

                        <li>
                          <a href="https://everpayinc.com/www/mobile-processing">Everpay Mobile</a>
                        </li>

                        <li>
                          <a href="https://everpayinc.com/www/bitcoin-processing">Bitcoin</a>
                        </li>
                      
                      </ul>
                    </li>
<li class="navigation__productnav col-md-3">
                      <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Expand Your Reach</strong>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/everpay-market">Everpay Marketplace</a>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/everpay-analytics">Detailed Analytics</a>
                        </li>
                      
                        <li>
                          <a href="https://everpayinc.com/www/integrations">App Integrations</a>
                        </li>
                         <li>
                          <a href="https://everpayinc.com/www/expand-business">Everpay Lead Development</a>
                        </li>
                      </ul>
</li>
<li class="navigation__productnav col-md-3">
                    <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Ensure Security </strong>
                        </li>
                      <li>
                          <a href="https://everpayinc.com/www/pci-compliance">PCI-compliance</a>
                        </li>
                       <li>
                          <a href="https://everpayinc.com/www/fraud-prevention"> Fraud Prevention</a>
                        </li>
                        
                       <li>
                          <a href="//blog.everpayinc.com">Blog</a>
                        </li>
                      </ul>
          </li>
      </ul>

<ul class="navigation__sub row">
<li class="navigation__productnav col-md-3">
 <ul class="navigation__productlist">
               <li class="navigation__producttitle">
                          <strong>ADVISORY EXPERTISE</strong>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/card-processing">Card Processing</a>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/contact">E-Check </a>
                        </li>

                        <li>
                          <a href="https://everpayinc.com/www/careers">Bitcoin</a>
                        </li>

                        <li>
                          <a href="//blog.everpayinc.com">Blog</a>
                        </li>
                      
                      </ul>
</li>
<li class="navigation__productnav col-md-3">
                      <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>Visualize your data</strong>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/contact">Ask A Question</a>
                        </li>

                      
                        <li>
                          <a href="//blog.everpayinc.com">Blog</a>
                        </li>
                      
                      </ul>
</li>
<li class="navigation__productnav col-md-3">
                    <ul class="navigation__productlist">
                       <li class="navigation__producttitle">
                          <strong>BOOST PRODUCTIVITY </strong>
                        </li>
                      <li>
                          <a href="https://everpayinc.com/www/elektropay">Elektropay Gateway</a>
                        </li>
                       <li>
                          <a href="https://everpayinc.com/www/shop">POS Terminals</a>
                        </li>
                        
                       <li>
                          <a href="https://everpayinc.com/www/funding-solutions">Everpay Capital</a>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/gift-loyalty-programs">Gift &amp; Loyalty Program</a> 
                       </li>                      
                   </ul>
          </li>

       </ul>
</div>
</li>


 <li id="resources" class="dropdown links">
                    <a href="javascript:void(0);" class="tp--nav-label">Resources</a>  
                    <div class="content" style="width:170px;"> 
                      <ul>
                        <li>
                          <a href="//support.everpayinc.com">Support &amp; Help</a>
                        </li>
                        <li>
                          <a href="//everpay.3scale.net/">Developer Hub</a>
                        </li>

                        <li>
                          <a href="//docs.everpayinc.com/">Documentation</a>
                        </li>
                                               
                       <li>
                          <a href="https://everpayinc.com/www/store">PayDep <span class="label label-primary">New!</span></a>
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li id="company" class="dropdown links">
                    <a href="javascript:void(0);" class="tp--nav-label">Company</a>
                    
                    <div class="content" style="width:155px;"> 
                      <ul>
                        <li>
                          <a href="https://everpayinc.com/www/about">About</a>
                        </li>
                        <li>
                          <a href="https://everpayinc.com/www/contact">Contact</a>
                        </li>
                       <li>
                          <a href="https://everpayinc.com/www/careers">Careers</a>
                        </li>

                          <li>
                          <a href="https://everpayinc.com/www/blog">Our Blog</a>
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li class="tp--nav-divider"><a></a></li>
 <li class="links tp--nav-auth">
 <a class="btn btn-ghost btn-circular" href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Sales: 800.566.6003">
<span class="fa-stack fa-lg">
  <i class="fa fa-phone fa-stack-1x"></i>
</span>
                 </a> 
                 </li>
           
<li class="links tp--nav-auth">
                    <a class="tp--nav-label" href="https://app.everpayinc.com/login"><span class="btn btn-lg btn-primary btn-empty">Login</span></a>
                  </li>

 <li class="links tp--nav-auth">
                    <a class="tp--nav-label" href="//everpayinc.com"><span class="btn-custom btn-sm btn-primary btn--bordered">Back To Everpay</span></a>
                  </li>

                  </ul>

                <div class="bg-layer" aria-hidden="true" style="transform: scaleX(580) scaleY(383);"></div>
              </div> <!-- dropdown-list -->
            </div>
          </div> <!-- morph-dropdown-wrapper -->

        </div>

      </nav>
      
    </header>






<header class="site-header hidden" style="display: none">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
